@media only screen and (min-width: 56rem) {
    
    nav ul li a {
        padding: .6rem 1rem;
    }
    nav {
        
        background-color:rgba(0, 52, 113); 
     
        
        }
    nav button {display: none;}
    nav ul.hide{display:block;}
    nav ul{margin-left: 2%;}
    nav ul li{
        float: left;
    }
    nav ul li a{
        border:none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
        
    }
    header img{ width:128px;}
    nav{ 
        display:flex;
        align-items:center;
        justify-content: center;
    }
    




.mainblocks img{
   /* width:75%;*/
      
    display:block; margin-left:auto; margin-right:auto; box-sizing:border-box; width:100%;
  padding:0;
  box-shadow: 0 0 20px #111;
  
  
}


.mainblocks{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:1rem;
    border:none;
    background-color:white;

}
.mainblocks div{
    font-size: 16px;
    border:none;
}
.mainblocks div h3{
    border-bottom: none;
}

.weather-forecast{
display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    margin: 1rem;
    padding:1rem;
   
}
header h1{
    font-size:60px;
}
h2{
   
    font-size: 40px;
}
h3{font-size:25px;}

.founded{
    display:flex;
    flex-flow:column;
    float:left;
    
}
header{
    display:flex;
   
   
   
}
.join-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.benefit-join{
margin-top:1.75rem;
}
.key{
    
    margin-top:3rem;
}
.cards{ 
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:0;
    
   padding: .8rem;

}

.contact-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.demo-grid{
    display:grid;
    grid-template-columns: 40% 60%;

}
#aerial-img{
    display:grid;
    grid-template-columns: 40% 60%;
}
#hide-me{
    display:block;
}
table { width:90%;
}
th { width:30%;}

.google-map{
    margin-bottom: 3rem;
}

}